.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	user-select: none;
	-moz-user-select: -moz-none;
	border: none;
	-webkit-appearance: none;

	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	cursor: pointer;

	/* Size MEDIUM by default */
	height: 40px; padding: 0 15px;

	/* Role OUTLINE by default */
	background-color: transparent;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 400;
	line-height: 11px; /* Обеспечивает центрирование текста по вертикали */
	color: #747d84;
}

.button:hover{
	border-color: rgba(34, 34, 34, 0.5);
	color: rgba(34, 34, 34, 0.8);
}

.button__item + .button__item{
    margin-left: 10px;
}

.buton__item_vsep {
	width: 1px;
	height: 10px;
	background-color: #eaeaea;
}

/* ROLE */
.button_primary{
	background-color: #6a90a9;
	border: none;
	color: #f6f8fa;
	font-weight: 500;
}
.button_primary:hover { background-color: #6a90a9; color: #f6f8fa; border: none; opacity: .8 }
.button_primary:active{}

.button_secondary{
	background-color: #d7dce0;
	border: none;
	color: #747d84;
}
.button_secondary:hover { background-color: #d7dce0; color: #747d84; border: none; opacity: .8 }
.button_secondary:active{}

.button_outline{
	background-color: transparent;
	border: 1px solid #eaeaea;
	font-weight: 400;
	color: #747d84;
}
.button_outline:hover{
	border-color: rgba(34, 34, 34, 0.5);
	color: rgba(34, 34, 34, 0.8);
}

.button_rounded.button_large {
	border-radius: 50px;
	adding: 0 25px;
}
.button_rounded.button_medium {
	border-radius: 40px;
	adding: 0 20px;
}
.button_rounded.button_small {
	border-radius: 30px;
	padding: 0 15px;
}

/* SIZES */
.button_large { height: 50px; padding: 0 20px; }
.button_medium{ height: 40px; padding: 0 15px; }
.button_small { height: 30px; padding: 0 10px; font-size: 11px;}


/* STATE */
.button_normal{}

.button_loading { color: transparent }
.button_loading	> .button__item,
.button_loading	> .text {
	visibility: hidden;
}
.button_loading::before{
	position: absolute;
	top: calc(50% - 40px / 2);
	left: calc(50% - 40px / 2);
	content: '';
	width: 40px;
	height: 40px;
	background-color: #fff;

	border-radius: 100%;
	animation: button-scale 1.0s infinite;
}

.button_loading.button_outline::before {
	background-color: #d7dce0;
}

.button_loading.button_medium::before {
	width: 30px;
	height: 30px;

	top: calc(50% - 30px / 2);
	left: calc(50% - 30px / 2);
}

.button_loading.button_small::before {
	width: 20px;
	height: 20px;

	top: calc(50% - 20px / 2);
	left: calc(50% - 20px / 2);
}

.button_disabled {
	cursor: default;
	opacity: .65;
}
.button_disabled:hover  { opacity: .65 }
.button_disabled:active { animation: none !important }
.button_disabled.button_outline:hover  {
	border: 1px solid #eaeaea;
	color: rgba(34,34,34,0.65);
}


/* ANIMATIONS */
.button:active { animation: button-fade 1s }

@keyframes button-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes button-scale {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		transform: scale(1);
		opacity: .5;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}
