@import 'dropdown.theme.styl'

.dropdown
    display inline-block

.dropdown_active
    .dropdown__content
        display block

.dropdown__content
    display none
    position absolute
    z-index 100
    animation fade-in .2s

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
