.input {
    display: inline-block;
    box-sizing: border-box;
    appearance: none; /* REMOVE IOS INNER BOX SHADOW */

    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    outline: none;

    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
    text-decoration: none;
    color: #222;

    cursor: text;
}

.input::placeholder {
    color: #747d84;
    opacity: .5;
}


/* MODIFICATORS */
.input_focused, .input:focus {
    border-color: #b2c3d3;
    box-shadow: 0 0 0 1px #b2c3d3;
}

.input_required {
    border-color: #FFBD73;
    box-shadow: 0 0 0 1px #FFBD73;
}

.input_right {
    border-color: #B6BF80;
    box-shadow: 0 0 0 1px #B6BF80;
}

.input_wrong {
	border-color: #F67D7D;
    box-shadow: 0 0 0 1px #F67D7D;
}


/* Класс, который добавляется элементу с contenteditable="true". Так как у div и input почему-то разные padding */
.input_editable {
    padding: 11px 14px 0 14px;
    white-space: nowrap;
    overflow: hidden;
}

/* Стили ниже, убирают multiline у элемента с contenteditable=true */
.input_editable[contenteditable="true"] br {
    display:none;
}
.input_editable[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}


/* DISABLE SAFARI AUTO ZOOM */
@media (max-width: 500px) {
	.input {
		font-size: 16px !important;
	}
}
